{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://w3c-ccg.github.io/vc-ed/contexts/v1/context.json"
  ],
  "id": "{{{credentialId}}}",
  "issuanceDate": "{{issuanceDate}}",
  "name": "{{credentialName}}",
  "type": [
    "VerifiableCredential",
    "Assertion"
  ],
  "issuer": {{>issuer}},
  "credentialSubject": {
    "type": "Person",
    "id": "{{{subjectId}}}",
    "name": "{{subjectName}}",
    "hasAchieved": {{>achievement}}
  }
}